<h2>Contacts</h2>
<h5> <%= link_to "Home Page", '/' %></h5>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <% @contacts.each do |contact| %>
            <tr>
                <td><%= contact.name %></td>
                <td><%= contact.contact %></td>
            </tr>
        <% end %>
    </tbody>
</table>


